<h1>{{title}}</h1>
<form>
    <input id='customerID' type='text' placeholder='customer id'>
    <input id='redirectURL' type='text' placeholder='redirect_url'>
    <button id='generateToken'>Generate Token</button>
</form>
<div>{{data}}</div>
<h2>Resulting Token</h2>
<textarea id='tokenArea' rows='4' cols='100'></textarea>